In [7]:
from lightgbm import LGBMClassifier
import pandas as pd

In [8]:
train = pd.read_csv("data/train_pre_processing_3.csv")
test = pd.read_csv("data/test_pre_processing_3.csv")

In [9]:
x_train, y_train = train.select_dtypes(include=['float64','int64','bool']).iloc[:,:-1],train.iloc[:,-1]

In [10]:
submit = test['id'].to_frame()

In [11]:
light_model = LGBMClassifier(random_state=1)
light_model.fit(x_train, y_train)
preds = light_model.predict(test.drop(columns=['id']).select_dtypes(include=['float64','int64','bool']))

In [16]:
submit['target'] = preds
submit

         id  target
0         0       1
1         2       1
2         3       1
3         9       1
4        11       1
...     ...     ...
3258  10861       1
3259  10865       1
3260  10868       1
3261  10874       1
3262  10875       1

[3263 rows x 2 columns]

In [17]:
submit.to_csv('data/submit_kaggle.csv', index=False)